body{
    padding: 0;
    margin: 0;
}

.heading{
    display:flex;
    padding: 30px;
}

#title{
    margin-top: 20px ;
    margin-left: 30px;
    flex-grow: 8;
    font-family: 'Courier New', Courier, monospaces;
    color: rgb(3, 76, 247);
    text-decoration: solid;
    font-size: 250%;
}

#contact{
    margin-top: 25px;
    flex-grow: 1;
    width: 70px;
    height: 30px;
    background: green;
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
}

.articlecontainer{
    display: flex;
    padding: 20px;
}

 .article{
    flex-grow: 5;
    margin-right: 50px;
    margin-left: 20PX;
    width: 80%;
    
}

 .resource{
    flex-grow: 1;
    margin: auto;
    width:17%;
    text-align: left;
    height: 100px;
    border-radius: 40px;
    background-color: rgb(2, 189, 236);
    box-sizing: border-box;
    padding-left: 20px;

}



.articletitle {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.content {
    text-align: justify;
    line-height: 1.5;
}

#poem {
    font-style: italic;
    margin: 20px 0 5px 0;
}

#artist {
    font-weight: bold;
    margin-bottom: 20px;
}